.container {
    width: 300px;
    border : 3px solid rgb(9, 7, 7);
    padding: 10px;
    box-shadow: 2px 1px blue; 
}

.info{
    font-style: italic;
}

.information{
    border : 2px solid rgb(0, 0, 0);
    margin-top: 10px;
    padding: 5px;
    }

li{
    list-style: none;
}
ul{
    padding-left: 5px;
}

img{
    width: 300px;
}